.heading{
    margin-top: 1rem;
}

.movieRow{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    /* padding: 0.2rem; */
    border-radius: 10px;
    max-height: 200px;
    margin-right: 12px;
    cursor: pointer;
}
.smallPoster{
    border-radius: 5px;
    max-height: 140px;
    margin-right: 12px;
    cursor: pointer;
}

.movieTitle{
    max-width: 13rem;
}

.poster:hover,.smallPoster:hover{
    transform: scale(1.05);
}